# Python temporary files
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# System-specific files
.DS_Store
Thumbs.db

# User data (Avoid uploading your test threats/logs)
threats.json
scans.json
test_files/
.env